In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Data_for_UCI_named.csv')

In [3]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [4]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [5]:
# convert the categorical target to binary
df["stabf"] = df["stabf"].replace(["unstable","stable"],[0,1])
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,1
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,0

In [6]:
df = df.drop("stab",axis = 1)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,1
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0

In [9]:
# Standiize input features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
for feature in df.columns:
  if feature != "stabf":
    df[feature] = scaler.fit_transform(df[[feature]])
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,-0.835374,-0.791317,1.141704,1.652103,0.017397,1.079405,-0.017078,-1.092545,0.457467,1.220013,1.321628,1.579026,0
1,1.478297,-0.126705,-0.803111,-1.415043,1.752124,-1.593619,-1.438158,-0.011575,-0.406791,1.230354,0.135424,0.936256,1
2,1.357093,1.312140,-0.803499,-1.471504,-0.458492,0.098253,-0.062840,0.760963,-1.319852,0.881299,1.146596,-1.513802,0
3,-1.653138,0.882289,-0.278354,-1.060901,0.284250,0.513904,-1.591046,0.583414,-0.287304,1.647250,1.474543,-0.591750,0
4,-0.771543,0.860108,-0.111670,1.680114,-0.298075,0.287450,-1.376343,1.606636,0.992226,-0.253610,0.481133,1.079063,0

In [10]:
# splitting data into training and testing
from sklearn.model_selection import train_test_split
X = df.drop("stabf",axis=1)
y = df["stabf"]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.3 , random_state= 101)

In [13]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import ExtraTreesClassifier
extra_tree_forest = ExtraTreesClassifier(random_state=1)
parameters = {
    "max_depth": [2,3, 5, 10, None,"auto"],
    "n_estimators": [100, 200, 300, 400, 500,1000],
    "min_samples_split":[5,6,7,8],
    "min_samples_leaf":[5,6,7,8]
}
clf = RandomizedSearchCV( ExtraTreesClassifier(),parameters, cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1, random_state = 1)
search = clf.fit(x_train,y_train)
search.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\qoyyum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [0.76042857        nan 0.75914286        nan 0.889      0.76242857
 0.76171429        nan 0.75914286 0.895     ]
  warnings.warn(

{'n_estimators': 300,
 'min_samples_split': 5,
 'min_samples_leaf': 6,
 'max_depth': None}

In [16]:
extra_tree_new= ExtraTreesClassifier(n_estimators=300,min_samples_split=5,min_samples_leaf=6,max_depth=None)
from sklearn.metrics import accuracy_score
extra_tree_new.fit(x_train,y_train)
extra_tree_new_pred = extra_tree_new.predict(x_test)
# calculate accuracy score
Accuracy = accuracy_score(extra_tree_new_pred,y_test)
print(Accuracy)

0.9086666666666666

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1)
rfc.fit(x_train,y_train)
rfc_preds = rfc.predict(x_test)
# calculate accuracy score
Accuracy = accuracy_score(rfc_preds,y_test)
print("Accuracy Score:",Accuracy)

In [ ]:
from xgboost import XGBClassifier
xgclass = XGBClassifier(random_state=1)
xgclass.fit(x_train,y_train)
xgb_pred = xgclass.predict(x_test)
# calculate accuracy score
Accuracy = accuracy_score(xgb_pred,y_test)
print(Accuracy)